/* General Styles */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    color: #333;
    font-size: 160%;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

h2, h3 {
    color: #444;
    font-weight: 500;
}

.row {
    display: flex;
}

.col-8 {
    flex: 0 0 66.66%; /* Ocupa aproximadamente el 67% del ancho */
    max-width: 66.66%;
}

.col-4 {
    flex: 0 0 33.33%; /* Ocupa aproximadamente el 33% del ancho */
    max-width: 33.33%;
}

.titulo-imagen {
    display: block;
    margin: 30px 0 50px 0;
    width: 400px; /* Ajusta el ancho deseado */
    height: auto; /* Mantiene la proporción de la imagen */
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px; /* Espacio entre el encabezado y el formulario */
}

/* Form Styles */
form {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}


label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
}

input[type="text"], input[type="number"], input[type="date"], select {
    width: calc(100% - 22px);
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
    font-size: 16px;
}

input[type="text"]:focus, input[type="number"]:focus, input[type="date"]:focus, select:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

/* Button Styles */
button {
    display: inline-block;
    padding: 12px 18px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

button.remove-linea, button.remove-etiqueta {
    background-color: #dc3545;
}

button.remove-linea:hover, button.remove-etiqueta:hover {
    background-color: #c82333;
}

button.add-etiqueta {
    background-color: #28a745;
    margin-bottom: 10px;
}

button.add-etiqueta:hover {
    background-color: #218838;
}

/* Lineas de Producto and Etiquetas Styles */
.linea-producto, .etiqueta {
    background: #fafafa;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 15px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
}

.linea-producto h4, .etiqueta h4 {
    margin-top: 0;
}

hr {
    border: 0;
    border-top: 1px solid #ddd;
    margin: 20px 0;
}

/* Table Styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

table th, table td {
    padding: 15px;
    text-align: left;
}

table th {
    background-color: #007bff;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
}

table tr:nth-child(even) {
    background-color: #f4f4f9;
}

table tr:hover {
    background-color: #e9ecef;
}

table td a {
    color: #007bff;
    text-decoration: none;
    margin-right: 10px;
}

table td a:hover {
    text-decoration: underline;
}

/* Button Link Styles */

a.nobtn {
    display: inline-block;
    padding: 12px 18px;
    color: #fff;
    background-color: #FF0000;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    margin-bottom: 20px;
    font-size: 16px;
}

a.nobtn:hover {
    background-color: #FF0000;
}


a.btn {
    display: inline-block;
    padding: 12px 18px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    margin-bottom: 20px;
    font-size: 16px;
}

a.btn:hover {
    background-color: #0056b3;
}

a.sabtn {
    display: inline-block;
    padding: 12px 18px;
    color: #fff;
    background-color: #FF6347;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    margin-bottom: 20px;
    font-size: 16px;
}

a.sabtn:hover {
    background-color: #FF4500;
}

a.ssbtn {
    display: inline-block;
    padding: 12px 18px;
    color: #fff;
    background-color: #BA55D3;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    margin-bottom: 20px;
    font-size: 16px;
}

a.ssbtn:hover {
    background-color: #800080;
}

a.svbtn {
    display: inline-block;
    padding: 12px 18px;
    color: #fff;
    background-color: #008000;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    margin-bottom: 20px;
    font-size: 16px;
}

a.svbtn:hover {
    background-color: #004d00;
}

a.avbtn {
    display: inline-block;
    padding: 12px 18px;
    color: #fff;
    background-color: #a64dff;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    margin-bottom: 20px;
    font-size: 16px;
}

a.avbtn:hover {
    background-color: #8e44ad;
}


.uppercase {
    text-transform: uppercase;
}

.etiqueta-kilos-input {
    display: none;
}
