{% extends 'base.html' %}

{% block content %}
<div class="header-container">
    <h2>EDITAR ALBARÁN</h2>
    <img src="{{ url_for('static', filename='logo.png') }}" alt="logo" class="titulo-imagen">
</div>
<form action="{{ url_for('edit_albaran', albaran_id=albaran.albaran_id) }}" method="post">
    <label for="albaran_id">
        <i class="fas fa-file-invoice" style="color: #1abc9c;"></i> Número de Albarán:
    </label>
    <input type="number" id="albaran_id" name="albaran_id" value="{{ albaran.albaran_id }}" readonly><br>

    <label for="cliente_id">
        <i class="fas fa-user" style="color: #3498db;"></i> Cliente:
    </label>
    <select id="cliente_id" name="cliente_id" required>
        {% for cliente in clientes %}
        <option value="{{ cliente.cliente_id }}" {% if cliente.cliente_id == albaran.cliente_id %}selected{% endif %}>{{ cliente.nombre }}</option>
        {% endfor %}
    </select><br>

    <label for="portestotales">
        <i class="fas fa-euro-sign" style="color: #e74c3c;"></i> Portes Totales:
    </label>
    <input type="number" id="portestotales" name="portestotales" step="0.01" value="{{ albaran.portestotales }}"><br>

    <h3>
        <i class="fas fa-box" style="color: #9b59b6;"></i> Líneas de Producto
    </h3>
    <div id="lineas-producto-container">
        {% for linea in lineas_producto %}
        <div class="linea-producto">
            <label for="nombreproducto">
                <i class="fas fa-tag" style="color: #8e44ad;"></i> Nombre Producto:
            </label>
            <select id="nombreproducto" name="nombreproducto[]">
                {% for producto in productos %}
                <option value="{{ producto.nombreProducto }}" {% if producto.nombreProducto == linea.nombreproducto %}selected{% endif %}>{{ producto.nombreProducto }}</option>
                {% endfor %}
            </select><br>

            <label for="intervalopesos">
                <i class="fas fa-balance-scale" style="color: #f1c40f;"></i> Intervalo Pesos:
            </label>
            <input type="text" id="intervalopesos" name="intervalopesos[]" value="{{ linea.intervalopesos }}"><br>

            <label for="descripcion">
                <i class="fas fa-info-circle" style="color: #e67e22;"></i> Descripción:
            </label>
            <select id="descripcion" name="descripcion[]">
                {% for desc in descripciones %}
                <option value="{{ desc.descripcion }}" {% if desc.descripcion == linea.descripcion %}selected{% endif %}>{{ desc.descripcion }}</option>
                {% endfor %}
            </select><br>

            <label for="lote">
                <i class="fas fa-cube" style="color: #2ecc71;"></i> Lote:
            </label>
            <input type="text" id="lote" name="lote[]" class="uppercase" value="{{ linea.lote }}"><br>

            <label for="numerocajas">
                <i class="fas fa-boxes" style="color: #e74c3c;"></i> Número de Cajas:
            </label>
            <input type="number" id="numerocajas" name="numerocajas[]" value="{{ linea.numerocajas }}"><br>

            <label for="tipocaja">
                <i class="fas fa-cube" style="color: #3498db;"></i> Tipo de Caja:
            </label>
            <select id="tipocaja" name="tipocaja[]">
                {% for caja in tipos_caja %}
                <option value="{{ caja.tipocaja }}" {% if caja.tipocaja == linea.tipocaja %}selected{% endif %}>{{ caja.tipocaja }}</option>
                {% endfor %}
            </select><br>

            <label for="kilos">
                <i class="fas fa-balance-scale" style="color: #9b59b6;"></i> Kilos:
            </label>
            <input type="number" id="kilos" name="kilos[]" step="0.01" value="{{ linea.kilos }}"><br>

            <label for="precio">
                <i class="fas fa-tag" style="color: #f39c12;"></i> Precio:
            </label>
            <input type="number" id="precio" name="precio[]" step="0.01" value="{{ linea.precio }}"><br>

            <label for="tipozona">
                <i class="fas fa-map-marker-alt" style="color: #e67e22;"></i> Tipo de Zona:
            </label>
            <select id="tipozona" name="tipozona[]">
                {% for zona in tipos_zona %}
                <option value="{{ zona.zona }}" {% if zona.zona == linea.zona %}selected{% endif %}>{{ zona.zona }}</option>
                {% endfor %}
            </select><br>

            <label for="barco">
                <i class="fas fa-ship" style="color: #1abc9c;"></i> Barco:
            </label>
            <input type="text" id="barco" name="barco[]" class="uppercase" value="{{ linea.barco }}"><br>

            <label for="obs">
                <i class="fas fa-comments" style="color: #3498db;"></i> Observaciones:
            </label>
            <input type="text" id="obs" name="obs[]" class="uppercase" value="{{ linea.observaciones }}"><br>

            <label for="tipoarte">
                <i class="fas fa-fish" style="color: #e74c3c;"></i> Tipo de Arte:
            </label>
            <select id="tipoarte" name="tipoarte[]">
                {% for arte in tipos_arte %}
                <option value="{{ arte.arte }}" {% if arte.arte == linea.arte %}selected{% endif %}>{{ arte.arte }}</option>
                {% endfor %}
            </select><br>

            <label for="preciocompra">
                <i class="fas fa-euro-sign" style="color: #2ecc71;"></i> Precio Compra:
            </label>
            <input type="number" id="preciocompra" name="preciocompra[]" step="0.01" value="{{ linea.preciocompra }}"><br>

            <label for="porteskg">
                <i class="fas fa-euro-sign" style="color: #e74c3c;"></i> Portes/Kg:
            </label>
            <input type="number" id="porteskg" name="porteskg[]" step="0.01" value="{{ linea.porteskg }}"><br>

            <label for="beneficiokg">
                <i class="fas fa-euro-sign" style="color: #9b59b6;"></i> Beneficio/Kg:
            </label>
            <input type="number" id="beneficiokg" name="beneficiokg[]" step="0.01" value="{{ linea.beneficiokg }}"><br>

            <div class="etiquetas-container" data-linea-id="{{ loop.index0 }}">
                {% for etiqueta in etiquetas %}
                {% if etiqueta.albaran_id == linea.albaran_id and etiqueta.linea_id == linea.linea_id %}
                <div class="etiqueta">
                    <label for="kilos">
                        <i class="fas fa-balance-scale" style="color: #2ecc71;"></i> Kilos:
                    </label>
                    <input type="text" name="etiqueta_kilos_{{ loop.index0 }}[]" step="0.01" value="{{ etiqueta.kilos }}"><br>

                    <label for="qretiqueta">
                        <i class="fas fa-qrcode" style="color: #1abc9c;"></i> QR Etiqueta:
                    </label>
                    <input type="text" name="qretiqueta_{{ loop.index0 }}[]" class="qretiqueta-input" value="{{ etiqueta.qretiqueta }}"><br>
                    <button type="button" class="scan-qr">Escanear QR</button>
                    <hr>
                    <label for="qretiquetacompra">
                        <i class="fas fa-qrcode" style="color: #3498db;"></i> QR Compra:
                    </label>
                    <input type="text" name="qretiquetacompra_{{ loop.index0 }}[]" class="qretiquetacompra-input" value="{{ etiqueta.qretiquetacompra }}"><br>
                    <button type="button" class="scan-qr-compra">Escanear QR Compra</button>
                    <hr>
                    <input type="text" name="etiqueta_kilos_{{ loop.index0 }}" class="etiqueta-kilos-input" value="{{ etiqueta.kilos }}" readonly><br>
                    <button type="button" class="remove-etiqueta">Eliminar Etiqueta</button>
                    <hr>
                </div>
                {% endif %}
                {% endfor %}
            </div>
            <button type="button" class="remove-linea"><i class="fas fa-trash"></i> Eliminar Línea</button>
            <hr>
        </div>
        {% endfor %}
    </div>
    <button type="button" id="add-linea"><i class="fas fa-plus" style="color: #f9f9f9;"></i> Añadir Línea de Producto</button><br>
    <button type="submit"><i class="fas fa-save" style="color: #f9f9f9;"></i> Guardar Albarán</button>
</form>

<!-- QR Code Scanner Modal -->
<div id="qr-scanner-modal" style="display:none;">
    <div id="qr-reader" style="width:500px"></div>
    <button id="close-qr-scanner" style="background-color: #e74c3c; color: white;">Cerrar</button>
</div>

<style>
    body {
        margin: 50px 100px 100px 100px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        background-color: #f9f9f9;
    }
    h2 {
        color: #2c3e50;
    }
    label {
        font-weight: bold;
    }
    input[type="text"], input[type="number"], select {
        width: 100%;
        padding: 10px;
        margin: 5px 0 15px;
        border: 1px solid #ccc;
        border-radius: 4px;
        background-color: #fff;
    }
    .linea-producto {
        background-color: #ecf0f1;
        padding: 20px;
        margin-bottom: 20px;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }
    .remove-linea, .remove-etiqueta {
        background-color: #e74c3c;
        color: white;
        border: none;
        padding: 10px;
        cursor: pointer;
        border-radius: 4px;
    }
    button {
        cursor: pointer;
        border: none;
        border-radius: 4px;
        padding: 10px 20px;
    }
    .titulo-imagen {
            display: block;
            margin: 30px 0 50px 0;
            width: 400px;
            height: auto; /* Mantiene la proporción de la imagen */
    }
    .header-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px; /* Espacio entre el encabezado y el formulario */
    }
    h2 {
        margin: 0; /* Eliminar márgenes para mejor alineación */
    }
    .titulo-imagen {
        height: 50px; /* Ajusta el tamaño según sea necesario */
        width: auto; /* Mantener la proporción del logo */
    }
</style>

{% endblock %}
