{% extends 'base.html' %}

{% block content %}
<div class="container">
    <img src="{{ url_for('static', filename='logo.png') }}" alt="logo" class="titulo-imagen">

    <!-- Botones alineados -->
    <div class="d-flex justify-content-between" style="margin-bottom: 20px;">
        <a href="{{ url_for('create_albaran') }}" class="btn btn-primary">Crear nuevo albarán</a>
        <a href="{{ url_for('create_gasto') }}" class="ssbtn btn-primary">Insertar gasto</a>
        <a href="{{ url_for('ver_gastos') }}" class="sabtn btn-primary">Ver gastos</a>
        <a href="{{ url_for('ver_facturas') }}" class="svbtn btn-primary">Ver facturas</a>
        <a href="{{ url_for('beneficios') }}" class="avbtn btn-primary">Ver beneficios</a>
    </div>

    <table>
        <tr>
            <th>Número</th>
            <th>Cliente</th>
            <th>Fecha</th>
            <th>Acciones</th>
        </tr>
        {% for albaran in albaranes %}
        <tr>
            <td>{{ albaran.albaran_id }}</td>
            <td>{{ albaran.nombre }}</td>
            <td>{{ albaran.fecha.strftime('%d-%m-%Y') }}</td>
            <td>
                <a href="{{ url_for('edit_albaran', albaran_id=albaran.albaran_id) }}"><i class="fas fa-edit"></i></a>
                <a href="{{ url_for('view_albaran', albaran_id=albaran.albaran_id) }}"><i class="fas fa-eye"></i></a>
                <a href="{{ url_for('pdf_albaran_view', albaran_id=albaran.albaran_id) }}" target="_blank"><i class="fas fa-truck"></i></a>
                <a class="open-costes-modal" data-albaran-id="{{ albaran.albaran_id }}" data-albaran-nombre="{{ albaran.nombre }}" data-albaran-fecha="{{ albaran.fecha }}"><i class="fas fa-euro-sign"></i></a>
                <a href="{{ url_for('delete_albaran', albaran_id=albaran.albaran_id) }}" onclick="return confirmDelete()"><i class="fas fa-trash"></i></a>
                <div class="dropdown">
                    <span class="dropdown-toggle"><i class="fas fa-plus"></i></span>
                    <div class="dropdown-menu">
                        <a class="dropdown-item">
                            <label for="pdf_file_{{ albaran.albaran_id }}" style="display: none;" class="normal-weight">Subir archivo PDF</label>
                            <input type="file" name="pdf_file" id="pdf_file_{{ albaran.albaran_id }}" accept="application/pdf" style="display: none;" onchange="this.form.submit()">
                        </a>
                        {% if albaran.pdfventa %}
                        <a href="{{ url_for('view_pdf', albaran_id=albaran.albaran_id) }}" class="dropdown-item" target="_blank">Albaran venta</a>
                        {% else %}
                        <span class="dropdown-item disabled">Albaran no disponible</span>
                        {% endif %}
                        {% if albaran.factura_id %}
                        <a href="{{ url_for('view_factura', albaran_id=albaran.albaran_id) }}" class="dropdown-item" target="_blank">Ver factura</a>
                        {% else %}
                        <span class="dropdown-item disabled">Factura no disponible</span>
                        {% endif %}
                        <a class="open-factura-modal" data-albaran-id="{{ albaran.albaran_id }}" data-cliente-id="{{ albaran.cliente_id }}">Añadir Factura</a>
                    </div>
                </div>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>

<!-- Ventana Modal para Costes -->
<div id="costes-modal" class="modal" style="display:none;">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2 id="modal-title"></h2>
        <form id="costes-form">
            <input type="hidden" id="albaran-id" name="albaran_id">
            <label for="precio_transporte"><i class="fas fa-euro-sign" style="color: #3498db;"></i> Precio Transporte:</label>
            <input type="number" id="precio_transporte" name="precio_transporte" step="0.01" required><br>
            <label for="kilos_transporte"><i class="fas fa-balance-scale" style="color: #f1c40f;"></i><strong> Kilos Transporte:</label>
            <input type="number" id="kilos_transporte" name="kilos_transporte" step="0.01" required><br>
            <button type="submit">Guardar</button>
        </form>
    </div>
</div>

<!-- Ventana Modal para Factura -->
<div id="factura-modal" class="modal" style="display:none;">
    <div class="modal-content">
        <span class="close-factura">&times;</span>
        <h2>Añadir Número de Factura</h2>
        <form id="factura-form">
            <input type="hidden" id="factura-albaran-id" name="albaran_id">
            <input type="hidden" id="factura-cliente-id" name="cliente_id">
            <label for="factura_id">Número de Factura:</label>
            <input type="number" id="factura_id" name="factura_id" required><br>
            <button type="submit">Guardar</button>
        </form>
    </div>
</div>

<script>
function confirmDelete() {
    return confirm('¿Estás segura de que deseas eliminar este albarán?');
}
document.addEventListener('DOMContentLoaded', function () {
    const costesModal = document.getElementById('costes-modal');
    const costesForm = document.getElementById('costes-form');
    const closeModalButton = costesModal.querySelector('.close');
    const openCostesModalButtons = document.querySelectorAll('.open-costes-modal');

    const facturaModal = document.getElementById('factura-modal');
    const facturaForm = document.getElementById('factura-form');
    const closeFacturaButton = facturaModal.querySelector('.close-factura');
    const openFacturaModalButtons = document.querySelectorAll('.open-factura-modal');

    openCostesModalButtons.forEach(button => {
        button.addEventListener('click', function () {
            const albaranId = this.dataset.albaranId;
            const albaranNombre = this.dataset.albaranNombre;
            const albaranFecha = this.dataset.albaranFecha;

            // Update modal title based on clicked albaran
            document.getElementById('modal-title').innerText = `${albaranNombre} - ${albaranFecha}`;

            // Set albaran id in hidden input
            document.getElementById('albaran-id').value = albaranId;

            // Fetch existing costs
            fetch(`/get_costes/${albaranId}`)
                .then(response => response.json())
                .then(data => {
                    if (data) {
                        document.getElementById('precio_transporte').value = data.precio_transporte || '';
                        document.getElementById('kilos_transporte').value = data.kilos_transporte || '';
                    } else {
                        document.getElementById('precio_transporte').value = '';
                        document.getElementById('kilos_transporte').value = '';
                    }
                });

            costesModal.style.display = 'block';
        });
    });

    closeModalButton.addEventListener('click', function () {
        costesModal.style.display = 'none';
    });

    window.addEventListener('click', function (event) {
        if (event.target == costesModal) {
            costesModal.style.display = 'none';
        }
    });

    costesForm.addEventListener('submit', function (e) {
        e.preventDefault();
        const albaranId = document.getElementById('albaran-id').value;
        const precioTransporte = document.getElementById('precio_transporte').value;
        const kilosTransporte = document.getElementById('kilos_transporte').value;

        fetch(`/costes/${albaranId}`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                precio_transporte: precioTransporte,
                kilos_transporte: kilosTransporte
            })
        }).then(response => response.json())
        .then(data => {
            if (data.success) {
                // Reset form fields
                document.getElementById('precio_transporte').value = '';
                document.getElementById('kilos_transporte').value = '';
                costesModal.style.display = 'none';
            } else {
                alert('Error al guardar los costes');
            }
        });
    });

    openFacturaModalButtons.forEach(button => {
        button.addEventListener('click', function () {
            const albaranId = this.dataset.albaranId;
            const clienteId = this.dataset.clienteId;

            // Set albaran id and cliente id in hidden inputs
            document.getElementById('factura-albaran-id').value = albaranId;
            document.getElementById('factura-cliente-id').value = clienteId;

            facturaModal.style.display = 'block';
        });
    });

    closeFacturaButton.addEventListener('click', function () {
        facturaModal.style.display = 'none';
    });

    window.addEventListener('click', function (event) {
        if (event.target == facturaModal) {
            facturaModal.style.display = 'none';
        }
    });

    facturaForm.addEventListener('submit', function (e) {
        e.preventDefault();
        const albaranId = document.getElementById('factura-albaran-id').value;
        const clienteId = document.getElementById('factura-cliente-id').value;
        const facturaId = document.getElementById('factura_id').value;

        fetch(`/fk_factura/${albaranId}/cliente/${clienteId}`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                factura_id: facturaId
            })
        }).then(response => response.json())
        .then(data => {
            if (data.success) {
                // Reset form field
                document.getElementById('factura_id').value = '';
                facturaModal.style.display = 'none';
            } else {
                alert('Error al añadir la factura');
            }
        });
    });
});
</script>

<style>
/* Añadir estilos para el modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close, .close-factura {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus, .close-factura:hover, .close-factura:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.titulo-imagen {
    display: block;
    margin: 30px 0 50px 0;
    width: 400px;
    height: auto; /* Mantiene la proporción de la imagen */
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-toggle {
    cursor: pointer;
    color: #007bff;
    text-decoration: underline;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-menu .dropdown-item{
    padding: 8px 16px;
    display: block;
    text-decoration: none;
    color: #007bff;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-item.disabled {
    color: #007bff;
}

.normal-weight {
    font-weight: normal;
}

.open-factura-modal {
    padding: 8px 16px;
    display: block;
    text-decoration: none;
    color: #007bff;
}
</style>

{% endblock %}
