{% extends 'base.html' %}

{% block content %}
<div class="container">
    <img src="{{ url_for('static', filename='logo.png') }}" alt="logo" class="titulo-imagen">

    <!-- Botones alineados -->
    <div class="d-flex justify-content-between" style="margin-bottom: 20px;">
        <a href="{{ url_for('index') }}" class="btn btn-primary">Volver</a>
        <a href="{{ url_for('create_gasto') }}" class="ssbtn btn-primary">Insertar gasto</a>
    </div>

    <table>
        <tr>
            <th>EMPRESA</th>
            <th>Fecha</th>
            <th>Importe</th>
            <th>Pagado</th>
        </tr>
        {% for gasto in gastos %}
        <tr>
            <td>{{ gasto.nombreempresa }}</td>
            <td>{{ gasto.fecha }}</td>
            <td>{{ gasto.importe }}</td>
            <td>
                    <!-- Acción para marcar como pagada o no pagada -->
                    <a href="#"
                       class="btn {% if gasto.pagado %}ssbtn{% else %}sabtn{% endif %}"
                       onclick="togglePagado('{{ gasto.gasto_id }}', this); return false;">
                        {% if gasto.pagado %}
                        Pagado
                        {% else %}
                        No pagado
                        {% endif %}
                    </a>
                </td>
        </tr>
        {% endfor %}
    </table>
</div>

<script>
    function togglePagado(gastoId, element) {
        const xhr = new XMLHttpRequest();
        xhr.open('POST', `/toggle_pagado/${gastoId}`);
        xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        xhr.onload = function() {
            if (xhr.status === 200) {
                location.reload();
            } else {
                alert('Hubo un problema al intentar actualizar el estado.');
            }
        };
        xhr.send();
    }
</script>

<style>
.titulo-imagen {
    display: block;
    margin: 30px 0 50px 0;
    width: 400px; /* Ajusta el ancho deseado */
    height: auto; /* Mantiene la proporción de la imagen */
}
</style>

{% endblock %}
